<section>
    <div class="beer-partial">
        <h1>{{beer.name}}</h1>
        <img class="beer_image" src={{beer.image_url}}>
        <div class="beer_tag">{{beer.tagline}}</div>
        <p>{{beer.description}}</p>
    </div>
</section>