
<div class='d-flex flex-wrap g-4'>
    {{#each beersList as |beer|}}
        <div class='col-md-3 p-4'>
        <div>
            {{>beerpartial beer=beer}}
        </div>
    </div>

    {{/each}}
</div>
