
<section>
    <h1>Welcome to our page!</h1>
    <img src="/images/beer.png" alt="Beer Image">
    <p>Explore our amazing world of beers!</p>
    <nav>
        <ul>
            <li><a href="/beers">Check the Beers!</a></li>
            <li><a href="/random-beer">Check a Random Beer</a></li>
        </ul>
    </nav>
</section>