

<div>
    {{>beerpartial  beer=randomBeer}}
</div>
 
 <div>
 <h3>Food Pairing</h3>
        <div class="food_pairing">{{randomBeer.food_pairing}}</div>

        <p><strong>Brewers Tips:</strong>{{randomBeer.brewers_tips}}</p>
</div>